<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kwater.persistence.mybatis.aio.DashboardMapper">
    <select id="getAiReceivingInit" resultType="org.kwater.domain.aio.AiProcessInitDTO">
        SELECT * FROM ai_receiving_init WHERE item = #{item}
    </select>
</mapper>
