<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wapplab.pms.repository.AutoWaterMapper">

  <!--  auto_water_pump_01 1번-->
  <!--  설비별 알람-->
  <!--  알람이 있는 설비만 검색(위의 auto_water_pump_01 id 참조), 검색안된 설비는 정상-->
  <select id="alarm" resultType="java.util.HashMap">
    <![CDATA[
    SELECT
           auto_water_pump_id
         , TRUE as Alram
    FROM
         tb_diag_auto_water_pump
    WHERE
          (
              voltage_unbalance_alarm = 1
                  OR
              voltage_diff_alarm = 1
                  OR overcurrent_alarm = 1
                  OR current_unbalance_alarm = 1
          )
      AND
          acq_date >= DATE_SUB(NOW(), INTERVAL 2 MINUTE)
    ORDER BY
             acq_date DESC;
    ]]>
  </select>

  <!--  가동중, 운영현황 조회, 상태정보-->
  <!--  pressure_setting_value : 압력설정값-->
  <!--  pressure_operation : 운전압력-->
  <!--  pressure_suction : 흡입압력-->
  <select id="waterPumpInfo" resultType="java.util.HashMap">
    <![CDATA[
      SELECT
             auto_water_pump_id
           , eq_on
           , pressure_setting_value
           , pressure_operation
           , pressure_suction
      FROM
           tb_auto_water_pump
      WHERE
            acq_date = (
                SELECT
                       acq_date
                FROM
                     tb_auto_water_pump
                GROUP BY
                         acq_date
                ORDER BY
                         acq_date DESC LIMIT 1
          , 1)
      ]]>
    </select>

 <!--  전류 조회 -->
  <select id = "currentInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
   <![CDATA[
    SELECT
           auto_water_pump_id,
           GREATEST(if(r_v_electric_current is not null, r_v_electric_current, 0)
             , if(s_v_electric_current is not null, s_v_electric_current, 0)
             , if(t_v_electric_current is not null, t_v_electric_current, 0)) as current
             , acq_date
    FROM
            tb_auto_water_pump
    WHERE
            acq_date >= #{startDate} and acq_date <= #{endDate}
    ]]>
  </select>

  <!--    상세 조회 -->
  <!--    current_limit : 과전류-->
  <!--    voltage_diff : 전압변동량-->
  <!--    current_unbalance : 전류불평형-->
  <!--    voltage_unbalance : 전압불평형-->
  <select id="detailInfo" resultType="java.util.HashMap">
    <![CDATA[
    SELECT
           auto_water_pump_id
         , current_limit
         , voltage_diff
         , current_unbalance
         , voltage_unbalance
         , acq_date
    FROM
         tb_diag_auto_water_pump
    WHERE
          acq_date >= #{startDate}
      and acq_date <= #{endDate}
    ]]>
  </select>
</mapper>




