<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wapplab.pms.repository.BackWashBlowerMapper">
  <!--  설비별 알람-->
  <!--  알람이 있는 설비만 검색, 검색안된 설비는 정상-->
  <select id="alarm" resultType="java.util.HashMap">
    SELECT
           backwash_blower_id
         , TRUE as Alram
    FROM
         tb_diag_backwash_blower
    WHERE
          (
              voltage_unbalance_alarm = 1
                  OR
              voltage_diff_alarm = 1
                  OR
              overcurrent_alarm = 1
                  OR
              current_unbalance_alarm = 1
                  AND
              current_fault_alarm = 1
          )
      AND
          acq_date >= DATE_SUB(NOW(), INTERVAL 2 MINUTE)
    ORDER BY
             acq_date DESC;
  </select>

<!--  가동중, 운영현황 조회, 상태정보-->
<!--  flow_rate : 유량-->
<!--  pressure : 압력-->
<!--  speed : 속도-->
  <select id="blowerInfo" resultType="java.util.HashMap">
    SELECT
           backwash_blower_id
         , eq_on
         , flow_rate / 60 as flow_rate
         , pressure * 10 as pressure
         , speed
    FROM
         tb_backwash_blower
    WHERE
          acq_date =
                    (
                        SELECT
                               acq_date
                        FROM
                             tb_backwash_blower
                        GROUP BY
                                 acq_date
                        ORDER BY
                                 acq_date DESC
                        LIMIT 1, 1)
  </select>

<!--  분포도-->
  <select id="distribution" resultType="java.util.HashMap">
  <![CDATA[
    SELECT
           backwash_blower_id
         , flow_rate / 60 as flow_rate
         , pressure * 10 as pressure
    FROM
         tb_backwash_blower
    WHERE
          acq_date >= #{startDate}
      and
          acq_date<= #{endDate}
      AND
          backwash_blower_id = #{id}
      and
          proc_stat = 1
  ]]>
  </select>

<!--  가동대수-->
  <select id="count" resultType="java.util.HashMap">
    SELECT
           count(eq_on) as eq_on
    FROM
         tb_backwash_blower
    WHERE
          acq_date =
                        (
                            SELECT
                                   acq_date
                            FROM
                                 tb_backwash_blower
                            GROUP BY
                                     acq_date
                            ORDER BY
                                     acq_date DESC
                            LIMIT 1
                        , 1)
          AND
                eq_on = TRUE
  </select>

<!--  전류 조회-->
  <select id="currentInfo" resultType="java.util.HashMap">
  <![CDATA[
    SELECT
           backwash_blower_id
         , GREATEST(
             if(r_v_electric_current is not null, r_v_electric_current, 0)
           , if(s_v_electric_current is not null, s_v_electric_current, 0)
           , if(t_v_electric_current is not null, t_v_electric_current, 0)
            ) as current
         , acq_date
    FROM
        tb_backwash_blower
    WHERE
            acq_date >= #{startDate}
        and
            acq_date<= #{endDate}
  ]]>
  </select>

<!--  상세 조회 모든 pac pump-->
<!--  current_limit : 과전류-->
<!--  voltage_diff : 전압변동량-->
<!--  current_unbalance : 전류불평형-->
<!--  voltage_unbalance : 전압불평형-->
<!--  ch_I_backwash : on, off 고려 전류-->
  <select id="detailInfo" resultType="java.util.HashMap">
  <![CDATA[
    SELECT
         backwash_blower_id
         , current_limit
         , voltage_diff
         , current_unbalance
         , voltage_unbalance
         , ch_I_backwash
         , acq_date
    FROM
        tb_diag_backwash_blower
    WHERE
          acq_date >= #{startDate}
      and
          acq_date<= #{endDate}
  ]]>
  </select>
</mapper>