<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wapplab.pms.repository.SludgeCollectorMapper">
<!--  sludge_collector_01 1번-->

<!--  설비별 알람-->
<!--  알람이 있는 설비만 검색, 검색안된 설비는 정상-->
  <select id="alarm" resultType="java.util.HashMap">
    SELECT
           sludge_collector_id
         , TRUE as Alram
    FROM
         tb_diag_sludge_collector
    WHERE
          (
              voltage_unbalance_alarm = 1
                  OR
              voltage_diff_alarm = 1
                  OR
              overcurrent_alarm = 1
                  OR
              current_unbalance_alarm = 1
          )
        AND
          acq_date >= DATE_SUB(NOW(), INTERVAL 2 MINUTE)
    ORDER BY
             acq_date DESC;
  </select>

<!--  가동중, 운영현황 조회, 상태정보-->
  <select id="sludgeInfo" resultType="java.util.HashMap">
    SELECT
           sludge_collector_eq_id
         , if(
             forward = TRUE
             , TRUE
             , if(backward = TRUE, TRUE, FALSE)) as eq_on
         , speed
         , speed_fb
    FROM
         tb_sludge_collector_eq
    WHERE
          acq_date =
                    (
                        SELECT
                               acq_date
                        FROM
                             tb_sludge_collector_eq
                        GROUP BY
                                 acq_date
                        ORDER BY
                                 acq_date DESC LIMIT 1
                    , 1)
  </select>

<!--  가동대수-->
  <select id="count" resultType="java.util.HashMap">
    SELECT count(*)
    FROM
         tb_sludge_collector_eq
    WHERE
        acq_date =
                    (
                        SELECT
                               acq_date
                        FROM
                             tb_sludge_collector_eq
                        GROUP BY
                                 acq_date
                        ORDER BY
                                 acq_date DESC LIMIT 1
                    , 1)
        AND
            (
                forward = TRUE
                OR
                backward = TRUE
            )
  </select>

<!--  전류 조회-->
  <select id="currentInfo" resultType="java.util.HashMap">
  <![CDATA[
    SELECT
           sludge_collector_id
         , GREATEST
             (
               if(r_v_electric_current is not null, r_v_electric_current, 0)
             , if(s_v_electric_current is not null, s_v_electric_current, 0)
             , if(t_v_electric_current is not null, t_v_electric_current, 0)
             ) as current

         , acq_date
    FROM
        tb_sludge_collector
    WHERE
            acq_date >= #{startDate}
        and
            acq_date <= #{endDate}
  ]]>
  </select>

<!--  상세 조회 모든 pac pump-->
<!--  current_limit : 과전류-->
<!--  voltage_diff : 전압변동량-->
<!--  current_unbalance : 전류불평형-->
<!--  voltage_unbalance : 전압불평형-->
  <select id="detailInfo" resultType="java.util.HashMap">
    <![CDATA[
    SELECT
           sludge_collector_id
         , current_limit
         , voltage_diff
         , current_unbalance
         , voltage_unbalance
         , acq_date
    FROM
         tb_diag_sludge_collector
    WHERE
          acq_date >= #{startDate}
      and
          acq_date <= #{endDate}
    ]]>
  </select>

<!--torque_1: 1계열에서 1번, 2계열에서는 5번-->
<!--torque_2: 1계열에서 2번, 2계열에서는 6번-->
<!--torque_3: 1계열에서 3번, 2계열에서는 7번-->
<!--torque_4: 1계열에서 4번, 2계열에서는 8번-->
<!--sludge_collector_01 : 1계열-->
<!--sludge_collector_02 : 2계열-->
  <select id="torqueInfo" resultType="java.util.HashMap">
      SELECT
             sludge_collector_id as id
           , torque_1
           , torque_2
           , torque_3
           , torque_4
           , acq_date
      FROM
           tb_sludge_collector
      WHERE
            acq_date =
                        (
                            SELECT
                                   acq_date
                            FROM
                                 tb_sludge_collector
                            WHERE
                                  acq_date >= DATE_SUB(NOW(), INTERVAL 3 MINUTE) GROUP BY acq_date ORDER BY acq_date DESC LIMIT 0, 1)
      ORDER BY
                acq_date ASC
  </select>
</mapper>